#navColor{
	background-color: #69DFC5!important;
}

.btn-primary {
	background-color: #69DFC5!important; 
	border-color: #69DFC5!important;
	color:black;
	
}

.btn-primary:hover{
	
	background-color:#36878A!important;
}

.socialmedialinks{
	width:70px;
}