#navColor {
  background-color: #76C3B3 !important; }

.btn-primary {
  background-color: #76C3B3 !important;
  border-color: #76C3B3 !important;
  color: black; }

.btn-primary:hover {
  background-color: #36878A !important; }

